.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 0px;
    max-width: 2.5%;
  }
  .grid-item {
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-width:2.5%;
    max-height:2.5%;
  }

  .grid-enemy {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-width:2.5%;
    max-height:2.5%;
  }

  .grid-object {
    background-color: greenyellow;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-width:2.5%;
    max-height:2.5%;
  }

  .grid-wall {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-width:2.5%;
    max-height:2.5%;
  }

  .grid-player {
    background-color: cyan;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    max-width:2.5%;
    max-height:2.5%;
  }
